@model List<Empleado>

@{
    List<Empleado> favoritos = memoryCache.Get<List<Empleado>>("FAVORITO");
}

    <h1>Empleados Favotiros</h1>

<p>
    <a asp-controller="Empleados"
       asp-action="SessionEmpleadosV5">
        Volver a empleados
    </a>
</p>

@if(favoritos == null)
{
    <h3 style="color:red">
        No tenemos empleados favoritos
    </h3>
}

<h2 style="color:hotpink">@ViewData["MENSAJE"]</h2>

@if (Model != null)
{
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>Departamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Apellido</td>
                    <td>@item.Oficio</td>
                    <td>@item.Salario</td>
                    <td>@item.IdDepartamento</td>
                    <td>
                        <a asp-controller="Empleados"
                            asp-action="SessionEmpleadosV5"
                            asp-route-ideliminar="@item.IdEmpleado"
                            class="btn btn-outline-warning">
                            Eliminar Favorito
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}